.root {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.header {
  font-weight: bold;
  font-size: 20px;
  color: #203152;
  background-color: #f5a623;
  padding: 20px;
  box-shadow: 0px 4px 4px #808888;
  flex-direction: row;
}

.icLogout {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
}

.icLogout:active {
  opacity: 0.5;
}

.icProfile {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 80px;
  cursor: pointer;
}

.icProfile:active {
  opacity: 0.5;
}

.viewCoverScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleDialogConfirmLogout {
  color: white;
  background-color: #f5a623;
  font-weight: bold;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  font-size: 18px;
}

.viewWrapButtonDialogConfirmLogout {
  flex-direction: row;
  height: 100px;
  width: 300px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnYes {
  width: 100px;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px;
  background-color: #203152;
  border: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.btnYes:active {
  opacity: 0.5;
}

.btnYes:focus {
  outline: 0;
}

.btnNo {
  width: 100px;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px;
  background-color: #dd4b39;
  border: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.btnNo:active {
  opacity: 0.5;
}

.btnNo:focus {
  outline: 0;
}
