.root {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.header {
  font-weight: bold;
  font-size: 20px;
  color: #203152;
  background-color: #f5a623;
  padding: 20px;
  box-shadow: 0px 4px 4px #808888;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: 'row';
  padding-top: 5px;
}

.viewLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icLogout {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
}

.icLogout:active {
  opacity: 0.5;
}

.icProfile {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 80px;
  cursor: pointer;
}

.icProfile:active {
  opacity: 0.5;
}

/* Dialog confirm */

.viewCoverScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleDialogConfirmLogout {
  color: white;
  background-color: #f5a623;
  font-weight: bold;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  font-size: 18px;
}

.viewWrapButtonDialogConfirmLogout {
  flex-direction: row;
  height: 100px;
  width: 300px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnYes {
  width: 100px;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px;
  background-color: #203152;
  border: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.btnYes:active {
  opacity: 0.5;
}

.btnYes:focus {
  outline: 0;
}

.btnNo {
  width: 100px;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px;
  background-color: #dd4b39;
  border: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.btnNo:active {
  opacity: 0.5;
}

.btnNo:focus {
  outline: 0;
}

/* List user */

.viewListUser {
  overflow-y: scroll;
  max-height: 90vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.viewListUser::-webkit-scrollbar-track {
  border: 1px solid #e8e8e8;
  padding: 2px 0;
  background-color: #e8e8e8;
}

.viewListUser::-webkit-scrollbar {
  width: 6px;
}

.viewListUser::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
}

.viewWrapItem {
  border: none;
  display: flex;
  flex-direction: 'row';
  background-color: #e8e8e8;
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.viewWrapItem:active {
  opacity: 0.5;
}

.viewWrapItem:focus {
  outline: 0;
}

.viewAvatarItem {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.viewWrapContentItem {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 15px;
  color: #203152;
  word-wrap: break-word;
}

.textItem {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
  text-align: left;
  font-size: 14px;
}

.viewBoard {
  display: flex;
  flex: 1;
  max-height: 90vh;
}

/* Welcome board */

.viewWelcomeBoard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textTitleWelcome {
  font-size: 22px;
  font-weight: bold;
  color: #203152;
}

.textDesciptionWelcome {
  font-size: 20px;
  color: #203152;
  margin-bottom: 200px;
}

.avatarWelcome {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}

/* Chat board */

.viewChatBoard {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.headerChatBoard {
  background-color: #e8e8e8;
  padding: 5px;
}

.textHeaderChatBoard {
  font-weight: bold;
  color: #203152;
  margin-left: 10px;
}

.viewListContentChat {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.viewListContentChat::-webkit-scrollbar-track {
  border: 1px solid #e8e8e8;
  padding: 2px 0;
  background-color: #e8e8e8;
}

.viewListContentChat::-webkit-scrollbar {
  width: 6px;
}

.viewListContentChat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
}

.viewBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #e8e8e8;
}

.icOpenGallery {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.icOpenGallery:active {
  opacity: 0.5;
}

.icOpenSticker {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.icOpenSticker:active {
  opacity: 0.5;
}

.icSend {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.icSend:active {
  opacity: 0.5;
}

.viewInput {
  flex: 1;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #203152;
  height: 30px;
}

.viewInput:focus {
  outline: 0;
}

input::placeholder {
  color: rgb(199, 199, 199);
}

/* View item message */

.viewWrapItemRight {
  width: 300px;
  height: auto;
  background-color: #e8e8e8;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 8px;
  color: #203152;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.viewWrapItemRight2 {
  width: 300px;
  height: auto;
  background-color: #e8e8e8;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 8px;
  color: #203152;
  text-align: left;
}

.viewWrapItemLeft {
  width: 300px;
  height: auto;
  background-color: #203152;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: left;
}

.viewWrapItemLeft2 {
  width: 300px;
  height: auto;
  background-color: #203152;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
  color: white;
  text-align: left;
}

/* Item text */

.textContentItem {
  font-size: 14px;
  word-break: break-all;
}

.viewListContentChat div:last-child {
  margin-bottom: 10px;
}

/* Item image */

.imgContentItem {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}